<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170690890893-5nb8tuhjouik8v5m6ssll1fpk05pc4hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170690890893-5nb8tuhjouik8v5m6ssll1fpk05pc4hd</string>
	<key>API_KEY</key>
	<string>AIzaSyDOp8craXYU4BZmtUkFGjfLPp-BIpd426Y</string>
	<key>GCM_SENDER_ID</key>
	<string>170690890893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notesapp-9702b</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp-9702b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170690890893:ios:dd94a609f342f8aaef66c4</string>
</dict>
</plist>